<div id="csv_channel_list_wrapper">
    <div id="lowRow3" class="row">
        <div id="boxHeading3" class="col-auto">
            <span class="box-heading">CSV Gating</span>
        </div>
        <div id="download-gating-header-div"></div>
    </div>

    <div class="list" id="csv_gating_list">
        <div id="csv_gating_row" class="row">
            <div class="col-auto">
                <div class="lds-ellipsis" id="csv_gating_list_loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div id="drag-and-drop-info">
            <div class="d-flex justify-content-md-center align-items-center vh-100">
                <span id="drag-and-drop-text">Drag and Drop A Gating CSV File</span>
            </div>
        </div>
    </div>
</div>
